:root {
    --background: #1F1F1F;
    --buttons: #414141;
    --fontcolor: #ffffff;
    --maria: #D72A3E;
    --serena: #FF69B4;
    --chris: #04BB0C;
    --steve: #2079FF;
}

body, html {
    height: 100%;
    margin: 0;
    background: var(--background);
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}


p {
    text-align: center;
    color: var(--fontcolor);
    font-family: Inter;
    margin: 0;
    padding: 10px 25px;
}

a {
    text-align: center;
    color: var(--fontcolor);
    font-family: Inter;
    margin: 0;
    font-size: 15px;
    text-decoration: none;
}

#thank-you {
    padding-top: 80px;
    max-width: 250px;
    margin: 0 auto;
    font-size: 20px;
}

#directions {
    padding-top: 5px;
    max-width: 250px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 15px;
}





#startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto; 
}

#start {
    background-color: var(--fontcolor);
    color: var(--buttons);
    font-size: 20px;
    line-height: 130%;
    padding:10px 25px;
    border-radius: 5px;
    max-width: 250px;
    cursor: pointer;

}






#characterGrid {
    background-color: var(--buttons);
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 45vw;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 50px;
}

#maria {
    justify-items: center;
    align-items: center;
    background-color: var(--maria);
    border-radius: 9999px;
    padding: 40px 30px;
}

#serena {
    justify-items: center;
    align-items: center;
    background-color: var(--serena);
    border-radius: 9999px;
    padding: 40px 25px;
}

#chris {
    justify-items: center;
    align-items: center;
    background-color: var(--chris);
    border-radius: 9999px;
    padding: 40px 31px;
}

#steve {
    justify-items: center;
    align-items: center;
    background-color: var(--steve);
    border-radius: 9999px;
    padding: 40px 29px;
}





















#transitionBox {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    margin: 0;
    pointer-events: none; /* Make the #transitionBox ignore pointer events */
}

.animate-in {
    animation: fade-in 0.2s linear 0.2s 1 forwards;
}


@keyframes fade-in {
    from {opacity: 1;}
    to {opacity: 0;}
}

#transitionBoxGrey {
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Make the #transitionBox ignore pointer events */
}

.fade-in-transitionBox {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 0.2s ease-in-out;
}


#note {
    position: fixed;
    width: 200px;
    margin: auto auto;
    font-size: 15px;
    bottom: 30px;
    transform: translate(-50%);
    left: 50vw;
}